<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar color="accent">
      <mat-toolbar-row>
        <h2 class="toolbar-title">SIIPAPX CxC</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <h2 matSubheader>Módulos</h2>

      <a mat-list-item routerLink="/" style="height: 0;"></a>

      <a
        *ngFor="let item of operations"
        mat-list-item
        (click)="sidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon class="app-nav-list-icon">
          {{ item.icon }}
        </mat-icon>
        {{ item.title }}
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Dashboards</h2>

      <a
        *ngFor="let item of dashboards"
        mat-list-item
        (click)="sidenav.close()"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon class="app-nav-list-icon">
          {{ item.icon }}
        </mat-icon>
        {{ item.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <swx-toolbar (toggleSidenav)="sidenav.toggle()"></swx-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
