<div layout>
  <mat-card class="facturas-card">
    <mat-card-header>
      <mat-card-title>Facturas de crédito</mat-card-title>
      <button mat-button>Periodo</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
        voluptatum omnis architecto debitis officiis, amet quasi sint officia
        dicta, facilis odit porro nam inventore provident eos assumenda optio
        incidunt praesentium!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quam rerum
        debitis quasi rem ut excepturi repellat incidunt alias fugiat hic,
        quisquam beatae omnis quaerat ipsum maiores, fugit, similique
        doloremque!
      </p>
    </mat-card-content>
  </mat-card>
</div>
