<td-layout-nav-list
  toolbarTitle="SIIPAPX CXC"
  navigationRoute="/"
  opened="true"
  mode="side"
  sidenavWidth="275px"
>
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>

  <div td-toolbar-content>
    <button mat-button tdLayoutNavListToggle>
      CREDITO
    </button>
  </div>

  <div td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
    <mat-nav-list dense>
      <a
        mat-list-item
        *ngFor="let item of navigation; let last = last"
        [routerLink]="item.path"
        routerLinkActive="active"
      >
        <mat-icon matListAvatar>{{ item.icon }}</mat-icon>
        <h3 matLine>{{ item.title }}</h3>
        <p matLine>{{ item.description }}</p>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </a>
    </mat-nav-list>
  </div>

  <router-outlet></router-outlet>
</td-layout-nav-list>
